
<%- include("Header/Header") %>

 <div class=" main-div">

    <div class="content">

        <% confirmmovie.forEach((item)=>{ %>

        <div class="top">

            <div class="m-img">
                 <img src="<%= item.Image %>" class="movie-image">
            </div>

            <div class="m-content">

            <h2 class="movie-name"><span id="mname"><%= item.MovieName %></span></h2>

            <p> <i class="bi bi-info-circle"></i> <strong>Description:</strong> <%= item.Description %></p>
            <p><i class="bi bi-star"></i> <strong>Rating:</strong> ⭐ <%= item.Rating %></p>
            <p class="mb-3"><i class="bi bi-people"></i> <strong>Actors:</strong> <%= item.Actors %></p>
            <h4 class="mb-2"><strong>Show Duration</strong></h4>
            <p><i class="bi bi-calendar2-week"></i> <strong>From:</strong> <span id="msdate"><%= item.ReleaseDate %></span></p>
            <p><i class="bi bi-calendar2-week"></i> <strong>TO:</strong> <span id="medate"><%= item.EndDate %></span></p>

            <p><i class="bi bi-stopwatch"></i> <strong>Time:</strong> <span id="mtime"><%= item.Time %> </span></p>
            <p><i class="bi bi-currency-rupee"></i> <strong>Price:</strong> <span id="mprice"><%= item.Price %> </span></p>

            </div>


        </div>

        <div class="bottoms">

            <div class="theaterinfo">

                 <% item.theaterdata.map((data)=>{ %>


                <h1 class="mb-4">Theater: <span class="theater-name" id="tname"><%= data.TheaterName %></span> </h1>

                <div class=" mb-4 theaterdata">
                    <p><i class="fa-solid fa-chair" style="color: rgb(206, 59, 5);"></i> <strong>Total Seats: </strong><%= data.Availableseats %> </p>
                    <p><i class="bi bi-geo-alt"></i> <strong>Location: </strong> 
                         <span id="tlocation"><%= data.Theaterlocation %></span> ,
                         <span id="tcity"><%= data.City %></span>,
                         <span id="tstate"><%= data.State %></span> </p>
                    <p><i class="bi bi-stopwatch"></i> <strong>Opening Time:</strong> <%= data.Openingtime %> </p>
                </div>

                <!-- <div class="d-flex flex-wrap justify-content-center align-item-center"> -->
                    <div class="d-md-flex">
                    <div class="d-flex flex-wrap align-item-center mb-2 me-5">
                        <div class="white bg-white border border-black rounded me-3"></div>
                        <div><span>Available</span></div>
                    </div>

                    <div class="d-flex flex-wrap align-item-center mb-2 me-5">
                        <div class="green bg-success border border-black rounded me-3"></div>
                        <div><span>Selected</span></div>
                    </div>

                    <div class="d-flex flex-wrap align-item-center">
                        <div class="red  border border-black rounded me-3"></div>
                        <div><span>Booked</span></div>
                    </div>
                </div>

                <hr>

                <h2>Choose Date</h2>
                                  
                    <input type="hidden" id="inp" name="bdate">
                    
                    <div class="date-container">
                    
                        <div class="date-list">
                    
                            <% for(let i=0; i<7; i++){ 
                                let d = new Date();
                                d.setDate(d.getDate() + i);
                    
                                let days = ["SUN","MON","TUE","WED","THU","FRI","SAT"];
                                let months = ["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"];
                    
                                let fullDate =
                                d.getFullYear() + "-" +
                                String(d.getMonth()+1).padStart(2,"0") + "-" +
                                String(d.getDate()).padStart(2,"0");
                            %>
                    
                            <div class="date-card <%= i === 0 ? 'active' : '' %>"
                                 onclick=" document.getElementById('inp').value='<%= fullDate %>'; changeDate(); 
                                 document.querySelectorAll('.date-card') .forEach(el => el.classList.remove('active')); this.classList.add('active');">
                    
                                <span class="day">
                                    <%= days[d.getDay()] %>
                                </span>
                    
                                <span class="date">
                                    <%= d.getDate() %>
                                </span>
                    
                                <span class="month">
                                    <%= months[d.getMonth()] %>
                                </span>
                    
                            </div>
                    
                            <% } %>
                    
                        </div>
                    
                    </div>

                    <% let seats = Number(data.Availableseats) %>

                    <div class="screendiv">
                        <h3>Screen</h3>

                        <div class="screen"></div>
                    </div>    

                    <div class="seat-box">

                        
            
                        <% for(let i=1; i<=seats; i++){ %>
                
                            <div class="seat" data-seat="<%= i %>"
                                 onclick="selectSeat(this)">
                                <%= i %>
                            </div>
                
                        <% } %>
            
                    </div>
            
                <% }) %>

            </div>

            <div id="msg" style="color:red; font-size:25px; text-align: center; margin:10px 0;"></div>

            <div class="d-flex justify-content-center button-area">

                <button type="submit" class="book-btn" onclick="booknow(this)"  data-app-tid="<%= item.forid %>"
                data-app-mid="<%= item._id %>">Book Now</button>
    
            </div>






        </div>

        <% }) %>

    </div>

    <div class="d-none">

        <% Object.keys(ubseats).map((date) => { %>
        
           <h3 class="backdate"><%= date %></h3>
        
        <% ubseats[date].forEach((seat) => { %>
            <span class="backseat" data-date="<%= date %>"  data-seat="<%= seat %>" ><%= seat %></span>
            <% }) %>
        
        <% }) %>

    </div>


 </div>

<%- include("Footer/Footer") %>  
















